*{
    margin: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.books{
    display: flex;
    flex-direction: column;
    border: solid 1px;
}